/* filepath: /e:/ft_projekt/src/assets/main.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './base.css';

* {
    font-family: 'Monsterrat', sans-serif !important;
}

body {
    background-color: #fafafa !important;
}

nav {
    background-color: #daff85;
    color: black;
    min-height: 75px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    border-radius: 0 0 20px 20px;
}

nav a {
    color: rgb(0, 0, 0) !important;
    background-color: #ffffff !important;
    border: solid 1px #000000 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
    padding: 10px 15px !important;
}

nav a:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #000000 !important;
    border: solid 1px #000000 !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
}

.card {
    background-color: #f2fed1 !important;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    border-radius: 15px !important;
    border: solid 1px #000000 !important;
    transition: 0.2s ease-in-out !important;
}

.card:hover{
    box-shadow: 0 7px 0 rgba(0, 0, 0, 1);
    scale: 1.1;
    border-radius: 15px !important;
    border: solid 1px #000000 !important;
    transition: 0.2s ease-in-out !important;
}

.card img {
    border-radius: 15px 15px 0 0 !important;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.games-view {
    display: flex;
    justify-content: center;
}

.games-container {
    max-width: 1200px;
    width: 100%;
}
.card-body {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    margin-bottom: 0;
}

.badge {
    background-color: #191a23;
    color: white !important;
    border: solid 1px #000000 !important;
}

.btn-add-to-cart {
    background-color: #b3ff00 !important;
    color: black !important;
    border: solid 1px #000000 !important;
    border-radius: 30px !important;
    transition: 0.2s ease-in-out !important;
}

.btn-add-to-cart:hover {
    background-color: #000000 !important;
    border: solid 1px #000000 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
}

.search-container {
    background-color: #daff85;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    border: solid 1px #000000;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: solid 1px #000000;
    margin-bottom: 0px !important;
}

.footer {
    background-color: #191a23;
    color: #fff;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.game-detail-view-container {
    background-color: #f2fed1 !important;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    border-radius: 15px !important;
    border: solid 1px #000000 !important;
    padding: 30px;
    margin-bottom: 35vh;
}

.badge {
    font-size: 12px !important;
    padding: 4px 6.4px !important;
  }

.newsletter-signup {
max-width: 400px;
margin: 0 auto;
border: 1px solid black !important;
border-radius: 30px !important;
box-shadow: 0 5px 0 rgba(0, 0, 0, 1) !important;
background-color: #f2fed1 !important;
    }

.newsletter-signup input {
border-radius: 30px !important;
    }

.featured-games {
    margin: 20px 0 !important;
    }

.landing-section {
    position: relative;
    width: 100%;
    min-height: 50vh;
    margin-bottom: 10vh;
    background: url('../../public/images/landing-image3.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1) !important;
    border: 1px solid #000;
    overflow: hidden;
    }

.landing-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(13, 15, 9, 0.5);
    z-index: 0;
    }

.landing-content {
    position: relative;
    z-index: 1;
    background-color: rgb(242, 254, 209,0.9);
    padding: 40px;
    max-width: 900px;
    border-radius: 30px;
    border: 1px solid #000;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    }

.landing-content h1 {
    margin-bottom: 20px !important;
    font-weight: bold;
    }

.alert-empty-cart {
    background-color: #fef2d1 !important;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    border-radius: 15px !important;
    border: solid 1px #000000 !important;
    padding: 30px;
    margin-bottom: 75vh !important;
    }

.cart-item-list{
    margin-bottom: 80vh;
}

.btn-checkout {
    background-color: #b3ff00 !important;
    color: black !important;
    border: solid 1px #000000 !important;
    border-radius: 30px !important;
    transition: 0.2s ease-in-out !important;
}

.btn-checkout:hover {
    background-color: #000000 !important;
    border: solid 1px #000000 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
}

.btn-clear-cart{
    background-color: #ff3636 !important;
    color: black !important;
    border: solid 1px #000000 !important;
    border-radius: 30px !important;
    transition: 0.2s ease-in-out !important;
}

.btn-clear-cart:hover {
    background-color: #000000 !important;
    border: solid 1px #000000 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
}

.cart-summary {
    background-color: #f2fed1 !important;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    border-radius: 15px !important;
    border: solid 1px #000000 !important;
    padding: 30px;
    margin-bottom: 75vh;
    }

.list-group-item {
    background-color: #f2fed1 !important;
    border: solid 1px #000000 !important;
    padding: 30px;
    margin-bottom: -1px;
}

.list-group-item:first-child {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.list-group-item:last-child {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 1);
    margin-bottom: 0;
}

.btn-remove-item {
    background-color: #ff3636 !important;
    color: white !important;
    border: solid 1px #000000 !important;
    border-radius: 30px !important;
    transition: 0.2s ease-in-out !important;
    padding: 7px !important;
}

.btn-remove-item:hover {
    background-color: #000000 !important;
    border: solid 1px #000000 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
}

.img-thumbnail {
    border-radius: 15px !important;
    min-width: 60px;
    }

.btn-back{
    background-color: #b3ff00 !important;
    color: black !important;
    border: solid 1px #000000 !important;
    border-radius: 30px !important;
    transition: 0.2s ease-in-out !important;
}

.btn-back:hover {
    background-color: #000000 !important;
    border: solid 1px #000000 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.2s ease-in-out !important;
}